.block {
  position: relative;
  width: 1000px;
  height: 100px;
}

body {
  /* background-color: #242f3e; */
}

.switch {
  position: fixed;
  right: 30px;
  font-family: sans-serif;
  color: #344658;
}

.switchLight {
  position: fixed;
  right: 30px;
  font-family: sans-serif;
  color: white;
  opacity: 0;
}

.switch:hover {
  cursor: pointer;
}

.mini {
  position: absolute;
}

.resizable {
  background: white;
  width: 100px;
  height: 60px;
  position: absolute;
  left: 40px;
  background-color: transparent;
  cursor: move;
}

#move {
  cursor: move;
}

.moveitem {
  width: 100px;
  height: 60px;
  position: absolute;
  z-index: 1;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #383838;
  opacity: 0.3;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 94%;
  background: white;
  border: 2px solid #383838;
  border-radius: 3px;
  position: absolute;
}

.resizable .resizers .resizer.bottom-left {
  left: -10px;
  bottom: 0px;
  cursor: ew-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -10px;
  bottom: 0px;
  cursor: ew-resize;
}

.chbox {
  border-radius: 25px;
  padding: 7px;
  border: 1px solid #e6ecf0;
  display: inline;
  margin-left: 10px;
  color : #43484b;
  font-family: sans-serif;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;

}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 25px;
    border: 1px solid #f35429;
    width: 20px;
    height: 20px;
    background: white;
}

.styled-checkbox:checked + label:before {
    background: #f35429;
  }

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
}
